.cabecalho {
    background: #CCCCCC;
    background-size: 100vw;
    z-index: 100;
}

.cabecalho__nav-menu {
    display: flex;
}

.cabecalho__menu-item {
    list-style: none;
}

.menu-link {
    color: rgb(0,0,0.25);
    text-decoration: none;
    text-transform: lowercase;
}

.cabecalho__nav-menu:first-child #ativo {
    font-weight: bold;
}

.menu-link:hover, .titulo:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 0) {
    .cabecalho {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .cabecalho__nav-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .cabecalho__menu-item {
        padding: 0.50rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .titulo {
        margin-right: 1.7525rem;
    }

    .menu-link {
        font-size: .90rem;
        margin-right: .55rem;
    }

    .cabecalho__nav-menu {
        flex-direction: row;
    }

    .cabecalho__menu-item {
        padding: 0.12rem;
    }

}

@media screen and (min-width: 1024px) {
    .menu-link {
        font-size: 1rem;
        margin-right: 1.25rem;
    }

    .cabecalho__menu-item {
        padding: 0.50rem;
    }
}