.experiencias {
    align-items: center; 
    margin: 0 2rem;
}

.experiencias__titulo {
    font-family: var(--roboto);
    font-size: 1.4375rem;
    font-weight: bold;
    text-align: center;
    padding: 5rem 1rem;
}

.codificador {
    padding: 2rem;
}

.codificador__interacao {
    display: flex;
}

.codificador__textos {
    flex-direction: column;
    font-family: var(--raleway);
}

.codificador__descricao {
    font-weight: 100;
}

.codificador__imagem {
    border: 5px solid #dAE6F6;
    border-radius: 10px;
}

.codificador__btn-repositorio, .codificador__btn-demo {
    margin: 1rem;
    padding: 0.7525rem;
    transition: all 1s ease-in-out;
}

.codificador__btn-repositorio {
    background: #3b86e9;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.codificador__btn-repositorio:hover {
    background: #CCCCCC;
    cursor: pointer;
}

.codificador__btn-demo {
    background: transparent;
    border: 2px solid #3b86e9;
    border-radius: 5px;
    font-weight: bold;
    color: #3b86e9;
}

.codificador__btn-demo:hover {
    background: #3b86e9;
    color:white;
}

.jogo-da-forca {
    align-items: center;
    display: flex;
    padding: 2rem;
}

.jogo-da-forca__interacao {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.jogo-da-forca__textos {
    flex-direction: column;
    font-family: var(--raleway);
    margin: 2rem 5rem;
    text-align: left;
}

.jogo-da-forca__descricao {
    font-weight: 100;
}

.jogo-da-forca__imagem {
    border: 5px solid #dAE6F6;
    border-radius: 10px;
}

.jogo-da-forca__btn-repositorio, .jogo-da-forca__btn-demo {
    padding: 0.7525rem;
    margin: 1rem;
    transition: all 1s ease-in-out;
}

.jogo-da-forca__btn-repositorio {
    background: #3b86e9;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: bold;
}

.jogo-da-forca__btn-repositorio a, .codificador__btn-repositorio a {
    color: white;
    text-decoration: none;
}

.jogo-da-forca__btn-demo a, .codificador__btn-demo a {
    color: #3b86e9;
    text-decoration: none;
}

.jogo-da-forca__btn-repositorio:hover {
    background: #CCCCCC;
    cursor: pointer;
}

.jogo-da-forca__btn-demo {
    border: 2px solid #3b86e9;
    background: transparent;
    border-radius: 5px;
    color: #3b86e9;
    font-weight: bold;
}

.jogo-da-forca__btn-demo:hover {
    background: #3b86e9;
    color:white;
}

@media screen and (min-width: 0) {
    .codificador {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .codificador__imagem {
        height: 300px;
        width: 100vw;
    }

    .codificador__textos {
        margin: 2rem 5rem;
        text-align: center;
    }

    .codificador__interacao {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .experiencias__codificador-botoes {
        display: flex;
        align-items: center;
    }

    .experiencias__jogo-da-forca-botoes {
        display: flex;
        align-items: center;
    }

    .jogo-da-forca {
        display: flex;
        flex-direction: column;
    }

    .jogo-da-forca__imagem {
        height: 300px;
        width: 400px;
    }

    .jogo-da-forca__textos {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    
    .codificador__textos {
        flex-direction: column  ;
       padding: 2rem;
    }

    .codificador-interacao {
        display: flex;
        flex-direction: column;
    }

    .jogo-da-forca__textos {
        margin: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .codificador {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    .codificador__interacao {
        align-items: center;
        flex-direction: column;
    }

    .codificador__textos {
        margin: 2rem 5rem;
        text-align: left;
    }

    .codificador__imagem {
        height: 450px;
        margin-left: .75rem;
        right: calc(100%-.75rem);
        width: 700px;
    }

    .jogo-da-forca {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .jogo-da-forca__textos {
        margin: 2rem 5rem;
        text-align: left;
    }

    .jogo-da-forca__imagem {
        margin-right: .75rem;
        left: calc(100%-.75rem);
        width: 700px;
        height: 450px;
    }
}
