.hobbies__titulo {
    font-family: var(--roboto);
    font-size: 1.4375rem;
    font-weight: bold;
    text-align: center;
    padding: 5rem 1rem;
}

.hobbies__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hobbie {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.hobbie:hover {
    cursor: pointer;
}

.hobbie img {
    width: 75px;
    height: 75px;
}

.hobbie__nome {
    font-size: 1.1875rem;
    font-weight: 100;
    text-align: justify;
}

@media screen and (min-width: 0) {
    .hobbies__lista {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .hobbies__lista {
        flex-direction: row;
    }
}
