html {
   --roboto: font-family: font-family: 'Roboto', sans-serif;
   --raleway: font-family: font-family: 'Raleway', cursive;
}

body {
   background: #FDFDFD;
}

.titulo {
   font-family: var(--roboto);
   font-size: 1.1rem;
   font-weight: bold;
}
